.habitListControls {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.habitListControls > * {
    background: lightgray;
    border: 1px solid darkgray;
    border-left: 0px;
    border-radius: 0px;
    border-style: solid;
    color: black;
    height: 31px;
    width: 100px;
}

.habitListControls > select {
    border-left: 1px solid darkgray;
    box-shadow: none !important;
}

.habitListControls button {
    width: 100px;
}

.habitListHeader {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 20px;
}

.habitList-date {
    font-size: 13px;
    text-align: center;
}

.habitList-date-name {
    font-size: 14px;
}

.habitList-date-value {
    font-size: 11px;
}

.habitListMetricsBar {
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 120px;
    margin-top: 5px;
    padding: 0px 10px;
    position: relative;
    width: 100%;
}

.habit-metrics-cell {
    font-size: 15px;
    margin: 5px 0px;
    position: relative;
    width: 200px;
}

.habit-metrics-title {
    left: 0px;
    position: absolute;

}

.habit-metrics-value {
    position: absolute;
    right: 0px;
}