:root {
  --border-cell: 1px solid darkgray;
  --marginBottom: 2px;
  --marginRight: 2px;
}

.habitListBody {
  max-height: calc(100vh - 113px);
  overflow-y: scroll;
  padding-bottom: 150px;
  position: absolute;
  top: 93px;
  z-index: 998;
}

.habitListBody::-webkit-scrollbar {
  display: none;
}

.habitListContainer {
  margin: auto;
  max-height: calc(100vh - 55px);
  min-height: calc(100vh - 55px);
  overflow-y: hidden;
  position: relative;
  width: 816px;
}

.habitListContainer::-webkit-scrollbar {
  display: none;
}

.habitListControls {
  background: inherit;
  display: flex;
  justify-content: center;
  width: 816px;
}

.habitListControls > * {
  background: lightgray;
  border: 1px solid darkgray;
  border-left: 0px;
  border-radius: 0px;
  border-style: solid;
  color: black;
  height: 31px;
  margin-bottom: 10px;
  width: 100px;
}

.habitListControls > select {
  border-left: 1px solid darkgray;
  box-shadow: none !important;
}

.habitListControls button {
  width: 100px;
}

.habitListFixedHeader {
  position: fixed;
  width: 816px;
  z-index: 999;
}

.habitListHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  margin-bottom: var(--marginBottom);
}

.habitListHeader > * {
  background: rgba(255, 255, 255, 0.82);
  border: var(--border-cell);
  font-size: 13px;
  margin-right: var(--marginRight);
  padding-top: 5px;
  text-align: center;
  width: 100px;
}

.habitList-date:last-child {
  margin-right: 0px;
}

.habitList-date-name {
  font-size: 14px;
}

.habitList-date-value {
  font-size: 11px;
}

@media only screen and (max-width: 768px) {
  .habitListContainer {
    margin-left: 0px;
  }
}
