.habit {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90px;
  margin-bottom: 2px;
  position: relative;
}

.habit-cell {
  border: 1px solid darkgray;
  cursor: pointer;
  margin-right: 2px;
  padding: 5px;
  padding-top: 32px;
  text-align: center;
  transition: 0.25s;
  white-space: nowrap;
  width: 100px;
}

.habit-cell:hover {
  background: lightgray;
}

.habit-cell:last-child {
  margin-right: 0px;
}

.habit-cell:hover .habit-check-icon {
  color: darkgray;
  visibility: visible;
}

.habit-check-icon {
  color: darkgreen;
  height: 25px;
  visibility: hidden;
  width: 25px !important;
}

.habit-summary {
  border: 1px solid darkgray;
  cursor: pointer;
  margin-right: 2px;
  padding: 5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.habit-summary-footer {
  border-top: 1px solid darkgray;
  bottom: 0;
  font-size: 13px;
  left: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.habit-summary-header {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.habit-summary-header:hover {
  overflow: visible;
  text-overflow: inherit;
}

.habit-summary-stat {
  font-size: 11px;
  text-align: left;
}

.habit-edit {
  color: #505050;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.habit-status {
  border-top: 1px solid darkgray;
  bottom: 0;
  font-size: 11px;
  height: 28px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

.isCompleted {
  background: rgba(20, 202, 113, 0.97);
}

.isCompleted:hover {
  background: rgba(20, 202, 113, 0.97);
  color: inherit;
}

.isCompleted .habit-check-icon {
  color: darkgreen !important;
  visibility: visible;
}

.isFuture {
  background: lightgray;
  cursor: default;
}

.isFuture .habit-check-icon {
  visibility: hidden !important;
}

.isToday {
  border: 2px solid gold;
}
