.habit {
    cursor: pointer;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, 1fr);
    height: 100px;
    margin-bottom: 1px;
    position: relative;
    transition: 0.35s;
}

.habit-cell {
    border: 1px solid darkgray;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.habit-edit {
    color: #505050;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.habit-metrics {
    font-size: 12px;
    padding: 0px 5px;
    position: relative;
    width: 100%;
}

.habit-metrics-cell {
    height: 12px;
    position: relative;
}

.habit-metrics-title {
    left: 0;
    position: absolute;
    text-align: left;
}

.habit-metrics-value {
    position: absolute;
    right: 0;
    text-align: right;
}

.habit-status {
    border-top: 1px solid darkgray;
    bottom: 0;
    font-size: 11px;
    height: 28px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

.isCompleted { 
    background: rgb(90, 212, 90);
}