.habit {
    cursor: pointer;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 1fr);
    height: 100px;
    margin-bottom: 2px;
    position: relative;
}

.habit-cell {
    border: 1px solid darkgray;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    transition: 0.25s;
    white-space: nowrap;
}

.habit-summary {
    border: 1px solid darkgray;
    cursor: pointer;
    padding: 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.habit-summary-footer {
    border-top: 1px solid darkgray;
    bottom: 0;
    font-size: 13px;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.habit-summary-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.habit-summary-stat {
    font-size: 12px;
    text-align: left;
}

.habit-edit {
    color: #505050;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.habit-metrics {
    font-size: 12px;
    padding: 0px 5px;
    position: relative;
    width: 100%;
}

.habit-metrics-cell {
    height: 12px;
    position: relative;
}

.habit-metrics-title {
    left: 0;
    position: absolute;
    text-align: left;
}

.habit-metrics-value {
    position: absolute;
    right: 0;
    text-align: right;
}

.habit-status {
    border-top: 1px solid darkgray;
    bottom: 0;
    font-size: 11px;
    height: 28px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

.isCompleted { 
    background: rgba(20,202,113,.97);
}

.isFuture {
    background: lightgray;
    cursor: default;
}

.isToday {
    border: 2px solid gold;
}