.habit {
    border: 1px solid darkgray;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1px;
    transition: 0.35s;
    width: 100%;
}

.habit:hover {
    background: #f2f2f2;
}

.habit-cell {
    overflow: hidden;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.isCompleted { 
    background: lightgreen;
}