.navbar {
  background: inherit;
  border-bottom: 1px solid lightgray;
  color: white;
  height: 55px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  position: absolute;
  right: 25px;
}

.nav-item {
  cursor: pointer !important;
}

@media only screen and (max-width: 520px) {
  .navbar-nav {
    background: lightgray;
    padding: 5px;
    right: 16px;
  }
}
