.container {
  /* background: rgba(255, 255, 255, 0.82); */
  box-shadow: 0 0 0 1px solid #c2c2c2;
  padding: 50px 10px 100px;
  position: relative;
}

.container-no-scroll {
  /* background: rgba(255, 255, 255, 0.82); */
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  min-width: 916px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  position: relative;
}

.container-no-scroll::-webkit-scrollbar {
  display: none !important;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 1;
  padding: 25px 100px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
}

.page-loading {
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container-no-scroll {
    padding-left: 0px;
    padding-right: 0px;
  }

  .page {
    padding: 0px 100px;
  }
}
